#black-1 {
    position: absolute;
    /* top: 15.5vw;
    left: 31.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-2 {
    position: absolute;
    /* top: 15.5vw;
    left: 37.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}

#black-3 {
    position: absolute;
    /* top: 15.5vw;
    left: 43.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-4 {
    position: absolute;
    /* top: 15.5vw;
    left: 49.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-5 {
    position: absolute;
    /* top: 15.5vw;
    left: 55vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-6 {
    position: absolute;
    /* top: 15.5vw;
    left: 61vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-7 {
    position: absolute;
    /* top: 15.5vw;
    left: 67vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-8 {
    position: absolute;
    /* top: 15.5vw;
    left: 73vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}


#black-9 {
    position: absolute;
    /* top: 21.5vw;
    left: 31.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-10 {
    position: absolute;
    /* top: 21.5vw;
    left: 37.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}

#black-11 {
    position: absolute;
    /* top: 21.5vw;
    left: 43.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-12 {
    position: absolute;
    /* top: 21.5vw;
    left: 49.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-13 {
    position: absolute;
    /* top: 21.5vw;
    left: 55vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-14 {
    position: absolute;
    /* top: 21.5vw;
    left: 61vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-15 {
    position: absolute;
    /* top: 21.5vw;
    left: 67vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}
#black-16 {
    position: absolute;
    /* top: 21.5vw;
    left: 73vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: black;
}