#green-1 {
    position: absolute;
    /* top: 45.5vw;
    left: 31.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid black;
    background-color: green;
}
#green-2 {
    position: absolute;
    /* top: 45.5vw;
    left: 37.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}

#green-3 {
    position: absolute;
    /* top: 45.5vw;
    left: 43.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-4 {
    position: absolute;
    /* top: 45.5vw;
    left: 49.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-5 {
    position: absolute;
    /* top: 45.5vw;
    left: 55vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-6 {
    position: absolute;
    /* top: 45.5vw;
    left: 61vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-7 {
    position: absolute;
    /* top: 45.5vw;
    left: 67vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-8 {
    position: absolute;
    /* top: 45.5vw;
    left: 73vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}


#green-9 {
    position: absolute;
    /* top: 39.5vw;
    left: 31.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-10 {
    position: absolute;
    /* top: 39.5vw;
    left: 37.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}

#green-11 {
    position: absolute;
    /* top: 39.5vw;
    left: 43.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-12 {
    position: absolute;
    /* top: 39.5vw;
    left: 49.5vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-13 {
    position: absolute;
    /* top: 39.5vw;
    left: 55vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-14 {
    position: absolute;
    /* top: 39.5vw;
    left: 61vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-15 {
    position: absolute;
    /* top: 39.5vw;
    left: 67vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}
#green-16 {
    position: absolute;
    /* top: 39.5vw;
    left: 73vw; */
    width: 4vw;
    height: 4vw;
    border-radius: 50vw;
    border: 00.1vw solid green;
    background-color: green;
}